@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Rubik:wght@400;700&display=swap');

body,
html {
    height: 100%;
}

body {
    background-image: linear-gradient(135deg, #ffcf9f 10%, #f783ac 71%);
}

.container {
    display: flex;
    justify-content: center;
}

img {
    position: relative;
    /* margin-left: 770px; */
    z-index: 0;
}

.siteName {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 50px;
}

.ele-container1 {
    position: absolute;
    margin-top: 35px;
    margin-right: 100px; 
    list-style-type: none;
    display: flex;
    z-index: -1;
}

.ele-container2 {
    position: absolute;
    margin-top: 35px;
    margin-left: 100px;
    list-style-type: none;
    display: flex;
    z-index: -1;
}

.items1,
.items2 {
    display: none;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
    padding: 10px;
}

a
{
    color: black;
}


.container:hover .ele-container1 {
    margin-right: 480px;
}

.container:hover .ele-container2 {
    margin-left: 520px;
}

.container:hover .items1 {
    display: flex;
    padding-right: 50px;
}

.container:hover .items2 {
    display: flex;
    padding-right: 50px;
}

.hover-underline {
    position: relative;
}

.hover-underline:hover {
    color: aqua;
}

.container,
.ele-container1,
.ele-container2,
.items1,
.items2 {
    transition: all 0.7s ease-out;
}

.custom-shape-divider-bottom-1669827345 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1669827345 svg {
    position: relative;
    display: block;
    width: calc(193% + 1.3px);
    height: 254px;
}

.custom-shape-divider-bottom-1669827345 .shape-fill {
    fill: #FFFFFF;
}

.intro
{
    color: rgb(25, 74, 117);
    font-family: 'Rubik', sans-serif;
    margin-left: 100px;
}


.intro .myName
{
    margin-top: 20px;
    font-size: 45px;
    color: darkgoldenrod;
}


.wave {
    -webkit-animation-duration: 2.1s;
    animation-duration: 2.1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: wave-animation;
    animation-name: wave-animation;
    display: inline-block;
    -webkit-transform-origin: 70% 70%;
    transform-origin: 70% 70%
}

@-webkit-keyframes wave-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    10% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg)
    }

    20% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    30% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg)
    }

    40% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }

    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes wave-animation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    10% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg)
    }

    20% {
        -webkit-transform: rotate(-8deg);
        transform: rotate(-8deg)
    }

    30% {
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg)
    }

    40% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }

    50% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }

    60% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}